/* Container principal */
.container {
  display: flex; 
  flex-direction: column;
  min-height: 100vh; /* Garante que ocupe toda a altura da tela */
}

/* Painel esquerdo */
.left-panel {
  width: 100%;
  flex: 1; /* Ocupa espaço disponível */
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Painel direito */
.right-panel {
  width: 100%;
  flex: 1;
  background-color: #53C593;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card do login */
.contentCardlogin {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.contentCardlogin h2 {
  text-align: center;
  margin-top: 10px;
}

.formContainer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group {
  position: relative;
  margin-bottom: 16px; 
}

.input-group input {
  height: 40px;
  width: 260px;
  padding: 0px 0px 0px 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.input-group .icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #53C593;
}

.input-group input:focus {
  border-color: #53C593;
  background-color: transparent;
  transform: scale(1.01);
}

.contentCardlogin button {
  height: 40px;
  width: 301px;
  background-color: #53C593;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: white;
  transition: all 0.3s ease;
}

.contentCardlogin button:hover {
  background-color: #53C593;
  transform: scale(1.03);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.contentCardlogin img {
  text-align: center;
}

.text-gradient {
  background: linear-gradient(90deg, #53C593, #3E1944);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: bold;
} 

.imagemlogin2 {
  width: 300px;
  height: 350px;
}

/* Layout responsivo */
@media (min-width: 937px) {
  .imagemlogin2 {
    width: 500px;
    height: 550px;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .right-panel {
      width: 50%;
      height: 100vh;
  }

  .left-panel {
    width: 50%;
    height: 100vh;
  }
}

/* Footer fixo sempre visível */
.footer-login {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: #f5f5f5;
  color: #333;
  font-size: 14px;
  z-index: 1000; /* Sempre acima do conteúdo */
}

.footer-login a {
  color: #53C593;
  text-decoration: none;
  font-weight: bold;
}

.footer-login a:hover {
  text-decoration: underline;
}
